<%= form_for(@user ||= current_user, html: { id: 'project_choices_form', class: 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this project_choice from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4><%= "Make your selection, #{@user}" %></h4>
  <br>

  <div id="js_validation_errors" class="alert alert-failure"></div>

  <%= f.fields_for :choices do |cf| %>
    <div class="control-group">
      <%= enumerated_choice_label(cf) %>
      <div class="controls">
        <%= cf.select :project_id,
             options_from_collection_for_select(alphabetized_by_name(@projects), :id, :name, project_id_for(cf)) %>
      
        <%= cf.hidden_field :priority %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit class: 'btn', value: 'Submit Choices' %>
  </div>
<% end %>