<%- model_class = User -%>

<table id="users_list" class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th class="first_choice">First Choice</th>
      <th class="second_choice">Second Choice</th>
      <th class="third_choice">Third Choice</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <% next unless user.has_choices? %>
      <tr>
        <td class="user_name"><%= user.name %></td>
        <td><%= display_name(user.choice(1)) %></td>
        <td><%= display_name(user.choice(2)) %></td>
        <td><%= display_name(user.choice(3)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
