<%= form_for(@project_choice) do |f| %>
  <% if @project_choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_choice.errors.count, "error") %> prohibited this project_choice from being saved:</h2>

      <ul>
      <% @project_choice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
