<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @project_choice.user_id %>
</p>

<p>
  <b>Project:</b>
  <%= @project_choice.project_id %>
</p>

<p>
  <b>Priority:</b>
  <%= @project_choice.priority %>
</p>


<%= link_to 'Edit', edit_project_choice_path(@project_choice) %> |
<%= link_to 'Back', project_choices_path %>
