<div class="row-fluid">
  <div id="projects" class="span6">
    <div class="span4">
      <h2>Groups</h2>
    </div>

    <div id="legend" class="span8 well well-small">
      <span class="project_creator">Project Creator</span> | 
      <span class="first_choice">First Choice</span> | 
      <span class="second_choice">Second Choice</span> | 
      <span class="third_choice">Third Choice</span> | 
      <span class="no_choice">Not in Choices</span>
    </div>

    <table id="projects_with_members" class="table table-striped">
      <thead>
        <tr>
          <th>Project</th>
          <th>Lead</th>
          <th>Size</th>
          <th>Members</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td class="project_name"><%= project.name %></td>
            <td><%= project.creator_name %></td>
            <td><%= project.members.size %></td>
            <td><%= members_colorized_by_choice(project) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="unpicked_users" class="span6">
    <%= form_tag make_groups_path, method: :post do %>
      <%= label_tag :loop_times %>
      <%= number_field_tag :loop_times, 10, in: 1..50 %>

      <%= submit_tag 'Make Groups!', class: 'btn btn-primary' %>
    <% end %>

    <%= link_to 'Destroy Groups!', destroy_groups_path, method: :post, class: 'btn btn-danger' %>

    <h2>Unpicked Users</h2>

    <%= render 'users/list', users: @unpicked_users %>

    <hr>

    <%= render 'users/join_project_form' %>
  </div>
</div>